@model IEnumerable<Readiculous.Services.ServiceModels.UserListItemViewModel>

<table class="user-table">
    <thead>
        <tr class="text-center">
            <th rowspan="2" class="text-center align-middle profile-picture-cell">Portrait</th>
            <th rowspan="2" class="text-center align-middle">@Html.DisplayNameFor(model => model.First().UserName)</th>
            <th rowspan="2" class="text-center align-middle">@Html.DisplayNameFor(model => model.First().Email)</th>
            <th rowspan="2" class="text-center align-middle">@Html.DisplayNameFor(model => model.First().Role)</th>
            <th colspan="2" class="text-center align-middle">@Html.DisplayNameFor(model => model.First().UpdatedTime)</th>
            <th rowspan="2" class="text-center align-middle">Actions</th>
        </tr>
        <tr class="text-center">
            <th class="text-center">Date</th>
            <th class="text-center">Time</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center align-middle">
                        @if (!string.IsNullOrEmpty(item.ProfilePictureUrl))
                        {
                            <img src="@item.ProfilePictureUrl" alt="Profile" class="profile-picture" />
                        }
                        else
                        {
                            <div class="profile-picture-placeholder">No Image</div>
                        }
                    </td>
                    <td class="align-middle">@item.UserName</td>
                    <td class="align-middle">@item.Email</td>
                    <td class="text-center align-middle">@item.Role</td>
                    <td class="text-center align-middle">@item.UpdatedTime.ToString("yyyy MMMM dd")</td>
                    <td class="text-center align-middle">@item.UpdatedTime.ToString("h:mm tt")</td>
                    <td class="text-center align-middle">
                        <div class="action-buttons">
                            <button type="button" class="btn-action btn-view view-user" data-userid="@item.UserId">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button type="button" class="btn-action btn-edit edit-user" data-userid="@item.UserId">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button type="button" class="btn-action btn-delete delete-user" data-userid="@item.UserId" data-username="@item.UserName">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="10" class="text-center empty-state">No users found matching your criteria.</td>
            </tr>
        }
    </tbody>
</table>
