@model UserMasterViewModel
@using Microsoft.AspNetCore.Mvc.Rendering
@using static Readiculous.Resources.Constants.Enums

@section Styles {
    <link rel="stylesheet" href="~/css/adminUserMaster/user-master.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adminUserMaster/user-master-modal.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "User Management";
}

<div class="container-fluid user-management-container px-0">
    <div class="user-management-header row mb-4 mx-0 align-items-center">
        <div class="col-md-6 px-0">
            <h1 class="user-management-title mb-0">User Management</h1>
        </div>
        <div class="col-md-6 px-0 text-md-end">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserModal">
                <i class="fas fa-plus me-2"></i>Add User
            </button>
        </div>
    </div>


    <form id="userFilterForm">
    <div class="user-filter-controls row g-3 align-items-end mx-0 mb-4">
        <div class="filter-group col-md-4 px-0 pe-md-2">
            <label for="searchString" class="filter-label">Search Username</label>
            <input type="text" id="searchString" name="searchString" class="filter-input"
                   placeholder="Enter username" value="@ViewData["CurrentFilter"]" />
        </div>
        <div class="filter-group col-md-4 px-0 pe-md-2">
            <label for="roleType" class="filter-label">Filter Role</label>
            <select id="roleType" name="roleType" class="filter-input">
                <option value="">All Roles</option>
                @foreach (var role in (List<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>)ViewBag.RoleTypes)
                {
                    bool isSelected = role.Value == (ViewData["CurrentRoleType"]?.ToString() ?? "");
                    <option value="@role.Value" selected="@(isSelected ? "selected" : null)">
                        @role.Text
                    </option>
                }
            </select>
        </div>

        <div class="filter-group col-md-4 px-0">
            <label for="sortOrder" class="filter-label">Sort By</label>
            <select id="sortOrder" name="sortOrder" class="filter-input form-select" asp-items="@ViewBag.UserSortTypes"></select>
        </div>
    </div>
    </form>


    <div class="row mx-0">
        <div class="col px-0">
            <div id="userListContainer" class="user-table-container">
                @await Html.PartialAsync("_UserListPartial", Model.Users)
            </div>
        </div>
    </div>

    <div class="pagination-controls row mb-4 mx-0 align-items-center">
        <div class="col-md-6 px-0">
            @await Component.InvokeAsync("Pagination", Model.Pagination)
        </div>
        <div class="col-md-6 px-0 text-md-end">
            @await Component.InvokeAsync("PageSize", new { currentPageSize = Model.Pagination.PageSize })
        </div>
    </div>
</div>

<!-- Add User Modal -->
<div class="modal fade user-modal" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
            </div>
            <div class="modal-body" id="addUserModalBody">
                <!-- Content loaded via AJAX -->
            </div>
        </div>
    </div>
</div>

<!-- Edit User Modal -->
<div class="modal fade user-modal" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
            </div>
            <div class="modal-body" id="editUserModalBody">
                <!-- Content loaded via AJAX -->
            </div>
        </div>
    </div>
</div>

<!-- View User Modal -->
<div class="modal fade user-modal" id="viewUserModal" tabindex="-1" aria-labelledby="viewUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewUserModalLabel">User Details</h5>
            </div>
            <div class="modal-body" id="viewUserModalBody">
                <!-- Content loaded via AJAX -->
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_DeleteModal.cshtml", new {
    ModalId = "deleteModal",
    ItemIdField = "itemToDeleteId",
    ItemNameField = "itemToDeleteName"
})

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/common/commonMaster.js" asp-append-version="true"></script>
    <script>
        const userMasterSettings = {
            userMasterScreenUrl: '@Url.Action("UserMasterScreen", "UserMaster")',
            userAddModalUrl: '@Url.Action("UserAddModal", "UserMaster")',
            userEditModalUrl: '@Url.Action("UserEditModal", "UserMaster")',
            userViewModalUrl: '@Url.Action("UserViewModal", "UserMaster")',
            deleteUserUrl: '@Url.Action("Delete", "UserMaster")'
        };
    </script>

    <script src="~/js/adminUserMaster/usermasterScreen.js" asp-append-version="true"></script>
}