@model Readiculous.Services.ServiceModels.UserDetailsViewModel

<div class="container-fluid">
    <h4>User Details</h4>
    <hr />

    <div class="row mb-4">
        <div class="col-md-3 text-center">
            @if (!string.IsNullOrEmpty(Model.ProfileImageUrl))
            {
                <img src="@Model.ProfileImageUrl" alt="Profile Picture" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <div class="text-muted p-4 border rounded">No profile picture</div>
            }
        </div>

        <div class="col-md-9">
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UserId)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.UserId)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UserName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.UserName)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Role)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Role)</dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5>Creation Info</h5>
            <dl class="row">
                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.CreatedByUserName)</dt>
                <dd class="col-sm-6">@Html.DisplayFor(model => model.CreatedByUserName)</dd>

                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.CreatedTime)</dt>
                <dd class="col-sm-6">@Html.DisplayFor(model => model.CreatedTime)</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <h5>Update Info</h5>
            <dl class="row">
                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.UpdatedByUserName)</dt>
                <dd class="col-sm-6">@Html.DisplayFor(model => model.UpdatedByUserName)</dd>

                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.UpdatedTime)</dt>
                <dd class="col-sm-6">@Html.DisplayFor(model => model.UpdatedTime)</dd>
            </dl>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary edit-user" data-userid="@Model.UserId">
        <i class="fas fa-pen"></i> Edit
    </button>
</div>

<script>
    $(function () {
        $('.edit-user').click(function () {
            var userId = $(this).data('userid');
            $('#viewUserModal').modal('hide');

            $('#editUserModalBody').load('@Url.Action("UserEditModal", "UserMaster")?userId=' + userId, function () {
                $('#editUserModal').modal('show');
            });
        });
    });
</script>
